<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="/style.css">
        <title>Socket.IO Chat</title>
    </head>
    <body>
        <div class="container">
            <div class="message">
                <ul id="list">
                </ul>
            </div>
            <div class="inputform">
                <form id="form">
                    <input type="text" id="textcontrol" autocomplete="off">
                    <button id="buttoncontrol">Send</button>
                </form>
                    <label for="nick">닉네임</label>
                    <input type="nick" name="nick" id="nickcontrol" autocomplete="off" value="Guest">
            </div>
        </div>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="script.js"></script>
</html>